<%= form_with model: @calculation, url: @calculation do |form| %>

  <% if @calculation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
        <% @calculation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="is-three-quarters">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title, class: "input" %>
    </div>
  </div>

  <div class="columns">
    <div class="is-three-quarters">
      <%= form.label :mass, style: "display: block" %>
      <%= form.text_field :mass, class: "input" %>
    </div>
  </div>

  <div class="columns mt-2">
    <div class="is-one-third">
      <label style="display: block">Departure</label>
      <div class="select">
        <%= form.select :calculation_type,
            options_for_select(['launch']),
            {}, class: "select" %>
      </div>
    </div>

    <div class="is-one-third ml-3">
      <%= form.label :first_gravity_launch, style: "display: block" %>
      <%= form.number_field :first_gravity_launch, step: "any", class: "input" %>
    </div>

    <div class="is-one-third ml-2">
     <label style="display: block">Landing</label>
      <div class="select">
        <%= form.select :calculation_type,
            options_for_select(['landing']),
            {}, class: "select" %>
      </div>
    </div>

    <div class="is-one-third ml-3">
      <%= form.label :first_gravity_landing, style: "display: block" %>
      <%= form.number_field :first_gravity_landing, step: "any", class: "input" %>
    </div>
  </div>

  <div class="columns mt-2">
    <div class="is-one-third">
      <label style="display: block">Back</label>
      <div class="select">
        <%= form.select :calculation_type,
            options_for_select(['launch']),
            {}, class: "select" %>
      </div>
    </div>

    <div class="is-one-third ml-3">
      <%= form.label :second_gravity_launch, style: "display: block" %>
      <%= form.number_field :second_gravity_launch, step: "any", class: "input" %>
    </div>

    <div class="is-one-third ml-2">
     <label style="display: block">Landing</label>
      <div class="select">
        <%= form.select :calculation_type,
            options_for_select(['landing']),
            {}, class: "select" %>
      </div>
    </div>

    <div class="is-one-third ml-3">
      <%= form.label :second_gravity_landing, style: "display: block" %>
      <%= form.number_field :second_gravity_landing, step: "any", class: "input" %>
    </div>
  </div>

    <br />
    <%= form.submit class: 'button is-success' %>
  </div>

<% end %>
