<% unless @calculations.empty? %>
<div class="container box">
  <table class="table is-bordered is-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Directives</th>
        <th>Fuel</th>
        <th>Mass</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody >
      <% @calculations.each do |calc| %>
        <tr>
          <td><%= calc.id %></td>
          <td><%= calc.title %></td>
          <td><%= calc.directives['directives'] %></td>
          <td><%= calc.fuel_required %> Kg</td>
          <td><%= calc.mass %> Kg</td>
          <td>
            <%= link_to calculation_path(calc), class: 'button is-primary' do %>
              <span class="icon is-small">
                <i class="fas fa-eye"></i>
                </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<% end %>
