<!DOCTYPE html>
<html>
  <head>
    <title>ShipFuelCalculator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <script src="https://kit.fontawesome.com/6b3c680981.js" crossorigin="anonymous"></script>
  </head>

  <body>

  <section class="hero is-info">
  <div class="hero-body">
    <p class="title">
      Ship Fuel Calculator
    </p>
      <p class="subtitle">
        by jean-felipe
      </p>
    </div>
  </section>
  <div class="container mt-5">
    <%= yield %>
  </div>
  </body>
</html>
